In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('maleDS.csv')
df.head()

      id gender  articleType   usage
0  15970    Men       Shirts  Casual
1  39386    Men        Jeans  Casual
2  21379    Men  Track Pants  Casual
3  53759    Men      Tshirts  Casual
4   1855    Men      Tshirts  Casual

In [14]:
df.shape

(25080, 4)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25080 entries, 0 to 25079
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           25080 non-null  int64
 1   gender       25080 non-null  object
 2   articleType  25080 non-null  object
 3   usage        25080 non-null  object
dtypes: int64(1), object(3)
memory usage: 783.9+ KB

In [13]:
# Labels in usage column
usageLabels = set(df['usage'].values) # Casual, Formal, Ethnic, Home, Party, Smart Casual, Sports, Travel
usageLabels

{'Casual',
 'Ethnic',
 'Formal',
 'Home',
 'Party',
 'Smart Casual',
 'Sports',
 'Travel'}

In [12]:
# ======= number of records against each usage label =========
# Formal           2236
# Casual          19390
# Sports           3258
# Ethnic            117
# Smart Casual       54
# Travel             22
# Party               2
# Home                1

df['usage'].value_counts()

Casual          19390
Sports           3258
Formal           2236
Ethnic            117
Smart Casual       54
Travel             22
Party               2
Home                1
Name: usage, dtype: int64

In [16]:
# # Creating separate folder for each usage label to analyze the images 

# import os
# import shutil

# # loop through the labels and create a folder for each label
# for label in usageLabels:
#     os.makedirs(label, exist_ok=True)

# # loop through the rows in the dataframe and copy the image to the corresponding folder
# for index, row in df.iterrows(): # iterrowsis similar to enumerate
#     label = row['usage']
#     filename = str(row['id']) + '.jpg'
#     source_path = os.path.join('./maleDS/', filename)
#     destination_path = os.path.join(label, filename)
#     shutil.copyfile(source_path, destination_path)

Analysis:
    1) Total 8 labels, require only 2 i.e. casual and formal 
    2)

In [20]:
articleTypeLabels = set(df['articleType'].values)
len(articleTypeLabels) # there are 88 labels

88

In [22]:
pd.set_option('display.max_rows', 100) # Setting the maximum number of rows to display = 100
df['articleType'].value_counts()

Tshirts                  5844
Shirts                   2920
Casual Shoes             2498
Sports Shoes             1636
Watches                  1624
Sandals                   852
Sunglasses                749
Backpacks                 686
Flip Flops                660
Formal Shoes              637
Socks                     607
Briefs                    562
Belts                     550
Wallets                   463
Shorts                    441
Trousers                  434
Jeans                     366
Perfume and Body Mist     332
Ties                      263
Caps                      256
Innerwear Vests           236
Sweatshirts               226
Track Pants               218
Deodorant                 218
Jackets                   202
Sweaters                  189
Trunk                     140
Cufflinks                 106
Accessory Gift Set         97
Kurtas                     83
Duffel Bag                 81
Laptop Bag                 72
Handbags                   70
Night suits                63
Free Gifts                 54
Boxers                     52
Scarves                    47
Messenger Bag              44
Suspenders                 40
Sports Sandals             37
Lounge Pants               35
Fragrance Gift Set         32
Mufflers                   30
Tracksuits                 28
Ring                       26
Lounge Shorts              25
Waist Pouch                17
Bracelet                   16
Bangle                     14
Gloves                     14
Basketballs                13
Travel Accessory           12
Capris                     12
Water Bottle               11
Rucksacks                  11
Waistcoat                  10
Footballs                   8
Pendant                     8
Churidar                    7
Rain Jacket                 7
Wristbands                  7
Headband                    7
Blazers                     6
Booties                     6
Mobile Pouch                6
Rompers                     6
Nehru Jackets               5
Swimwear                    5
Clothing Set                5
Kurta Sets                  4
Leggings                    3
Stoles                      3
Shoe Accessories            3
Hat                         3
Trolley Bag                 3
Tablet Sleeve               2
Hair Colour                 2
Kurtis                      2
Key chain                   2
Shoe Laces                  1
Tops                        1
Body Wash and Scrub         1
Mens Grooming Kit           1
Sunscreen                   1
Heels                       1
Tunics                      1
Cushion Covers              1
Tights                      1
Name: articleType, dtype: int64