In [2]:
import numpy as np
import pandas as pd

In [5]:

# on_bad_lines='skip' is important otherwise it will cause an error of "pandas.parser.CParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 12"
path = "C:/Users/zaina/Desktop/FYDP/1_OriginalDataset_FashionProductImagesSmall/noNull.csv"
df = pd.read_csv(path)
df.head()

      id gender  articleType   usage
0  15970    Men       Shirts  Casual
1  39386    Men        Jeans  Casual
2  59263  Women      Watches  Casual
3  21379    Men  Track Pants  Casual
4  53759    Men      Tshirts  Casual

In [6]:
# .info() gives the information about the dataset like the number of rows and columns, the number of non-null values in each column, and the datatype of each column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44107 entries, 0 to 44106
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           44107 non-null  int64
 1   gender       44107 non-null  object
 2   articleType  44107 non-null  object
 3   usage        44107 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.3+ MB

In [7]:
df.describe()

                 id
count  44107.000000
mean   29540.970776
std    16978.364872
min     1163.000000
25%    14702.500000
50%    28478.000000
75%    44401.500000
max    60000.000000

In [ ]:
# value_counts() gives the number of count of each class in a Feature/Column along with the Column's name and datatype 
df['gender'].value_counts()

In [ ]:
# Getting those values in a separate dataframe where gender = Men
maleDataSet = df.loc[(df['gender']=='Men') ]
maleDataSet['id'].count()

In [ ]:
boysDataSet = df.loc[(df['gender']=='Boys') ]
boysDataSet['id'].count()

In [ ]:
uniSexDataSet = df.loc[(df['gender']=='Unisex') ]
uniSexDataSet['id'].count()

In [ ]:
# Concatenating all datasets of Men, Boys, Unisex
frames = [maleDataSet, boysDataSet, uniSexDataSet]  
result = pd.concat(frames)

print(f"Separated male dataset contain these values\n{result['gender'].value_counts()}\n")

print(f"Size of male dataset: {result['id'].count()}")

In [ ]:
result['usage'].value_counts()

In [ ]:
# # Filtering Pandas Dataframe

# # Create a sample DataFrame
# df = pd.DataFrame({'id': [1, 2, 3, 4, 5], 'value': ['a', 'b', 'c', 'a', 'b']})

# # Use boolean indexing to filter the DataFrame based on the condition
# filtered_df = df[df['value'] == 'a']

# # Get the values from the 'id' column of the filtered DataFrame
# id_values = filtered_df['id'].values

# # Print the results
# print(id_values)

In [ ]:
# Filtering male dataset to display the pics with a certain label
from tensorflow.keras.utils import load_img

filtered_result = result[result['usage'] == 'Sports']
id_values = filtered_result['id'].values
# print(id_values)

dir_path = '../2_SeparatingMaleDataset/maleDatasetImages/'
for id in id_values:
    pic_path = dir_path + str(id) + '.jpg'
    pic = load_img(pic_path)
    display(pic)

In [ ]:
# dataframe to CSV file
# result.to_csv('./maleDataSet.csv', index=False)

In [ ]:
# Moving male dataset files to separate folder 
# Some missing pics: 39403, 39410, 39401, 39425, 12347

# import shutil
# for id in result['id']:
#     if id==39403 or id==39410 or id==39401 or id==39425 or id==12347:
#         continue
#     else:    
#         old_path = 'C:/Users/zaina/Desktop/FYDP/1_OriginalDataset_FashionProductImagesSmall/images_copy/'+ str(id) + '.jpg'
#         new_path = 'C:/Users/zaina/Desktop/FYDP/2_SeparatingMaleDataset/maleDatasetImages/'+ str(id) + '.jpg'
#         shutil.move(old_path, new_path)

In [1]:
maleDS = pd.read_csv('./maleDataSet.csv')
maleDS.head()

NameError: name 'pd' is not defined