# Preprocessing the Dataset

In [1]:
import numpy as np
from PIL import Image
import pandas as pd

In [2]:
df = pd.read_csv("../3_PreprocessingMaleDS/final.csv")
df.head(10)

      id articleType   usage
0  15970       shirt  Casual
1  39386     trouser  Casual
2  21379     trouser  Casual
3  53759      tshirt  Casual
4   1855      tshirt  Casual
5  30805       shirt  Formal
6  12369       shirt  Formal
7   7990      tshirt  Casual
8  37812       shirt  Formal
9  56825       shirt  Casual

In [5]:
df.count()

id             10842
articleType    10842
usage          10842
dtype: int64

### Images to Np Array

In [6]:
# Directory of the images
folderPathOfImage = "../3_PreprocessingMaleDS/finalDS/"

NumpyArrays = []
for id in df['id']:
    imagePathVariable = folderPathOfImage + str(id)+'.jpg'
    image = Image.open(imagePathVariable)
    numpyArrayImg = np.array(image)
    NumpyArrays.append(numpyArrayImg)

df_images = np.array(NumpyArrays)
df_images.shape

(10842, 80, 60, 3)

In [7]:
np.save('df_images.npy', df_images)

### Usage encoding

In [16]:
# Encoding the usage column into 0 and 1
df_usage = df['usage']
df_usage.value_counts()

usage
Casual    9682
Formal    1160
Name: count, dtype: int64

In [7]:
# Defining Lambda Function to encode the values of the column
encoderFunction = lambda valueOfColumn: 1 if (valueOfColumn == 'Formal') else 0
df_usageEncoded = np.vectorize(encoderFunction)(df_usage)
print(type(df_usageEncoded))
df_usageEncoded.shape # (10842,)

<class 'numpy.ndarray'>

(10842,)

In [14]:
np.save('df_usageEncoded.npy', df_usageEncoded)

In [15]:
formalCount, casualCount = 0, 0
for i in df_usageEncoded:
    # print(i)
    if i ==1:
        formalCount += 1
    elif i ==0:
        casualCount += 1
print(f'formal count (1): {formalCount}') # 1,160 i.e. correct number of 1s (formal)
print(f'casual count (0): {casualCount}') # 9,682 i.e. correct number of 0s

formal count (1): 1160
casual count (0): 9682

In [19]:
# checking the saved numpy array of encoded usage column 
encodedUsage = np.load('./df_usageEncoded.npy')
encodedUsage
for i in range(10):
    print(i, encodedUsage[i])

0 0
1 0
2 0
3 0
4 0
5 1
6 1
7 0
8 1
9 0

### articleType encoding

In [17]:
# Encoding the articleType column into 0,1,2
df_articleType = df['articleType']
df_articleType.value_counts()

articleType
tshirt     6263
shirt      3003
trouser    1576
Name: count, dtype: int64

In [13]:
# Defining Lambda Function to encode the values of the column
encoderFunction = lambda valueOfColumn: 0 if (valueOfColumn == 'shirt') else 1 if (valueOfColumn == 'tshirt') else 2
df_articleTypeEncoded = np.vectorize(encoderFunction)(df_articleType)
print(type(df_articleTypeEncoded))
df_articleTypeEncoded.shape # (24781,)

<class 'numpy.ndarray'>

(10842,)

In [14]:
np.save('df_articleTypeEncoded.npy', df_articleTypeEncoded)

In [15]:
shirtCount, tshirtCount, trouserCount = 0, 0, 0
for i in df_articleTypeEncoded:
    # print(i)
    if i ==0:
        shirtCount += 1
    elif i ==1:
        tshirtCount += 1
    elif i==2:
        trouserCount +=1
print(f'shirt count (0): {shirtCount}')
print(f'tshirt count (1): {tshirtCount}') 
print(f'trouser count (1): {trouserCount}')

shirt count (0): 3003
tshirt count (1): 6263
trouser count (1): 1576

In [19]:
# checking the saved numpy array of encoded usage column 
encodedArticleType = np.load('./df_articleTypeEncoded.npy')
encodedArticleType
for i in range(10):
    print(i, encodedArticleType[i])

0 0
1 2
2 2
3 1
4 1
5 0
6 0
7 1
8 0
9 0