# Preprocessing the Dataset

In [1]:
import numpy as np
from PIL import Image
import pandas as pd

In [2]:
df = pd.read_csv("../2_SeparatingMaleDataset/maleDS.csv")

In [19]:
df.iloc[15:30].head(15) # More formal from 15 to 29

       id gender   articleType   usage
15  18461    Men     Deodorant  Casual
16   9036    Men  Formal Shoes  Formal
17   7990    Men       Tshirts  Sports
18  37812    Men        Shirts  Formal
19  56825    Men        Shirts  Casual
20  39988    Men  Casual Shoes  Casual
21  18839    Men         Belts  Formal
22  23278    Men       Watches  Casual
23   8580    Men     Waistcoat  Casual
24   3168    Men  Sports Shoes  Sports
25  18005    Men        Shorts  Sports
26  17871    Men        Briefs  Casual
27   9452    Men        Shirts  Formal
28  10268    Men  Formal Shoes  Formal
29  32138    Men        Briefs  Casual

In [3]:
df.count()

id             24781
gender         24781
articleType    24781
usage          24781
dtype: int64

In [4]:
# Directory of the images
folderPathOfImage = "../2_SeparatingMaleDataset/maleDS/"

NumpyArrays = []
for id in df['id']:
    imagePathVariable = folderPathOfImage + str(id)+'.jpg'
    image = Image.open(imagePathVariable)
    numpyArrayImg = np.array(image)
    NumpyArrays.append(numpyArrayImg)

df_images = np.array(NumpyArrays)
df_images.shape

(24781, 80, 60, 3)

In [7]:
np.save('df_images.npy', df_images)

In [8]:
# Encoding the usage column into Casual and Formal
df_usage = df['usage']

0     Casual
1     Casual
2     Casual
3     Casual
4     Casual
5     Ethnic
6     Casual
7     Casual
8     Casual
9     Casual
10    Formal
11    Casual
Name: usage, dtype: object

In [10]:
# Defining Lambda Function to encode the values of the column
encoderFunction = lambda valueOfColumn: 1 if (valueOfColumn == 'Formal') else 0
df_usageEncoded = np.vectorize(encoderFunction)(df_usage)
print(type(df_usageEncoded))
df_usageEncoded.shape # (24781,)

<class 'numpy.ndarray'>

(24781,)

In [11]:
np.save('df_usageEncoded.npy', df_usageEncoded)

In [12]:
formalCount, casualCount = 0, 0
for i in df_usageEncoded:
    # print(i)
    if i ==1:
        formalCount += 1
    elif i ==0:
        casualCount += 1
print(f'formal count (1): {formalCount}') # 2,205 i.e. correct number of 1s (formal)
print(f'casual count (0): {casualCount}') # 22,556 i.e. correct number of 0s

formal count (1): 2205
casual count (0): 22576

In [20]:
# checking the saved numpy array of encoded usage column 
encodedUsage = np.load('./df_usageEncoded.npy')
encodedUsage
for i in range(15,30):
    print(i, encodedUsage[i])

15 0
16 1
17 0
18 1
19 0
20 0
21 1
22 0
23 0
24 0
25 0
26 0
27 1
28 1
29 0