In [1]:
import pandas as pd

In [29]:
df = pd.read_csv('styles.csv', on_bad_lines= 'skip')
df.head()
# Analysis 
# 1) Original csv file is erroneous because 22 rows (6044, 6569, 7399, 7939, 9026, 10264, 10427, 10905, 11373, 
#    11945, 14112, 14532, 15076, 29906, 31625, 33020, 35748, 35962, 37770, 38105, 38275, 38404) contain 
#    comma separated values in productDisplayName hence causing 1 extra column. 
#    The original csv file has 44,447 rows but images are 44,441    
# 2) has too many features, we only require id, articleType/subCategory, usage

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [32]:
df.info() # After skipping bad lines df has 44,424 entries (44,447 - 22 -1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44424 entries, 0 to 44423
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44424 non-null  int64
 1   gender              44424 non-null  object
 2   masterCategory      44424 non-null  object
 3   subCategory         44424 non-null  object
 4   articleType         44424 non-null  object
 5   baseColour          44409 non-null  object
 6   season              44403 non-null  object
 7   year                44423 non-null  float64
 8   usage               44107 non-null  object
 9   productDisplayName  44417 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

In [37]:
df['gender'].value_counts()

Men       22147
Women     18631
Unisex     2161
Boys        830
Girls       655
Name: gender, dtype: int64